/* MODIFIED MEYER RESET */

html, body, div, span,
h1, h2, p, a, img, ul, li, 
article, footer, header,
nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, footer, header, nav, section {
  display: block;
}

/*-------------------------------------*/
/* GLOBAL */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font: 400 16px/1.5 Roboto, sans-serif;
}

/*-------------------------------------*/
/* HEADER */

header {
  margin: 1.5rem;
  font-size: 3rem;
  font-weight: 900;
  color: #6b8525;
  text-align: center;
}

/*-------------------------------------*/
/* NAVIGATION */

.main-nav {
  position: relative;
  width: 100%;
  height: 70px;
  border-bottom: 10px solid #ee5511;
  margin-bottom: 3rem;
  text-align: center;
  background-color: #3f2c20;
}

.main-nav ul {
  list-style: none;
  margin: 0 auto;
  width: 100%;
  max-width: 750px;
  position: relative;
}

.main-nav li {
  display: inline-block;
  width: 30%;
  max-width: 250px;
  text-align: center;
}

.main-nav a {
  font-family: Courgette;
  letter-spacing: .02em;
  color: #afaca0;
  line-height: 62px;
  text-decoration: none;
  font-size: 1.1rem;
}

.main-nav a span {
  color: #c7470e;
  font-family: Roboto;
  font-weight: 700;
  text-transform: uppercase;
}

















